html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: #4c5958;
  font-family: sans-serif;
  display: flex;
  font-display: swap;
  height: inherit;
  justify-content: center;
}

.wrapper {
  background: #252525;
  color: #000;
  border-radius: 10px;
  flex-basis: 400px;
  height: 540px;
  padding: 20px 40px;
}

.screen {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  color: #000;
  font-size: 1.75rem;
  overflow: auto;
  padding: 20px;
  text-align: right;
  width: 326px;
}

.calc-button-row {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.calc-button {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: #fff;
  border: 1px solid #fff;
  color: #000;
  flex-basis: 20%;
  font-family: inherit;
  font-size: 1.25rem;
  border-radius: 10px;
  height: 65px;
}

.calc-button:last-child {
  background: #127369;
  color: #fff;
  border: none;
}

.calc-button:last-child:hover {
  background-color: #8aa6a3;
  color: inherit;
}

.calc-button:hover {
  background-color: #bfbfbf;
  border: none;
}

.calc-button:active {
  background-color: #4c5958;
}

.double {
  flex-basis: 47%;
}

.triple {
  flex-basis: 73%;
}

@media (max-width: 739px) {
  .wrapper {
    max-width: 340px;
    padding: 10px 20px;
  }

  .screen {
    width: 300px;
  }
}
